altgraph==0.10.2
apipkg==1.4
bdist-mpkg==0.5.0
certifi==2018.4.16
chardet==3.0.4
execnet==1.4.1
idna==2.6
lxml==3.6.4
macholib==1.5.1
matplotlib==1.3.1
mingus==0.5.1
modulegraph==0.10.4
mpmath==1.0.0
Pillow==3.4.2
pipenv==2018.5.18
py==1.4.31
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
pytest==3.0.4
pytest-cache==1.0
python-dateutil==1.5
python-pptx==0.6.1
pytz==2013.7
requests==2.18.4
six==1.4.1
sympy==1.1.1
virtualenv==15.2.0
virtualenv-clone==0.3.0
gunicorn==19.8.1
